{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   
</head>

<body>
   
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-4">
                    
                <div class="caption">
                    <div class="card-block">
                        <center>
                            <h3>{{user.fullname}}</h3>
                            <p>{{user.email}}</p>
                            <p>+91 {{user.mobile}}</p>
                            <p>{{user.address}}</p>
                        </center>
                    </div>
                    <div class="caption">
                        <a href="/delete/{{user.id}}" role="button" class="btn btn-danger btn-block">Delete Account</a>
                        <a href="/update/{{user.id}}" role="button" class="btn btn-success btn-block">Update Profile</a>
                        <a href="/login/" role="button" class="btn btn-danger btn-block" onclick="clean();">logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'check.js' %}"></script>
    <script type="text/javascript">
        function clean() {
            alert("logout")
            localStorage.clear();
            alert("profile is logout")
            window.location.href='/login/'
        }
    </script>
    
</body>
</html>